*{
    margin: 0;
    padding: 0;
}
header{
    background: url(./img/bg.jpg);
    padding: 20px;;
}

.caixa{
    position: relative;
    width: 940px;
    margin: 0 auto;
}

nav{
    position: absolute;
    top: 120px;
    right: 0;
}
nav li{
    display: inline;
    margin: 0 0 0 15px;
}

nav a{
    list-style: none;
    font-weight: bold;
    font-size: 22px;
    text-transform: uppercase;
    text-decoration: none;
    color: #FFFFFF
}

nav a:hover{
    display: inline-block;
    transform: translateY(-5px);
    color: orange;
}

.produtos{
    width: 940px;
    margin: 0 auto;
    padding: 50px 0;

}
.produtos li{
    display: inline-block;
    text-align: center;
    width: 30%;
    vertical-align: top;
    margin: 0 1.5%;
    padding: 30px 20px;
    box-sizing: border-box;
    border: 5px solid #000000;
    border-radius: 5px;
}

.produtos li a{
    text-decoration: none;
    color: black;
}

.produtos li:hover{
    border-color: orange;
}

.descricao{
    font-size: 18px;
}
.preco{
    font-size: 22px;
    font-weight: bold;
    margin-top: 10px;
}

footer{
    text-align: center;
    background: url(./img/bg.jpg);
}

footer p{
    color: #FFFFFF;
    margin: 20px 0 0;
}